.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
